@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Raleway&display=swap");

* {
  margin: 0;
}

.top {
  background-image: url(https://cdn3d.iconscout.com/3d/premium/thumb/astronaut-in-spacesuit-riding-on-rocket-in-space-4610435-3815350.png);
  background-position: center; /* This set the image at the center */
  background-repeat: no-repeat; /* This prevent the image from repeating */
  background-size: cover; /* This makes to cover the entire element */
  background-color: rgb(255, 255, 255);
  height: 20rem;
  margin: 0 20px 30px 20px;
  position: relative;
}

.get-started-text,
.create-text {
  padding-left: 50px;
  padding-top: 20px;
}

.get-started-text {
  font-size: 3.5rem;
  /* font-weight: bolder; */
  color: rgb(22, 53, 89);
  font-family: "Open Sans", sans-serif;
}

.create-text {
  font-size: 2rem;
  color: rgb(33, 73, 119);
  padding-top: 10px;
  font-family: "Open Sans", sans-serif;
}

.middle {
  margin: 0 20px 30px 20px;
  /* box-sizing: border-box; */
  background-color: #f2f2f2;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}

label {
  /* padding: 12px 12px 12px 0; */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(33, 73, 119);
  margin: 10px 0;
  border-radius: 3px;
  height: 40px;
  font-size: 1rem;
  padding-left: 6px;
  background-color: rgb(242, 242, 242);
}

input[type="submit"] {
  display: inline-block;
  border-radius: 6px;
  background-color: rgb(255, 0, 0);
  color: rgb(242, 242, 242);
  border: none;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  width: 150px;
  height: 3rem;
  display: block; /* To put the button at the center of the page - display block*/
  margin: 5px auto; /* To put the button at the center of the page then apply equal left and right margin */
}

/* To put the button at the center of the page */
/* .submit-input {
  text-align: center;
  margin-top: 5px;
} */

/* input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
} */

label {
  font-size: 1.2rem;
}

.bottom {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.terms-text {
  margin-top: 5px;
}

/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */
